
    <style>
        /* Styles for the footer */
        footer {
            background-color: #202020;
            color: white;
            padding: 20px;
            text-align: center;
        }

        /* Styles for the links in the footer */
        footer a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            transition: color 0.3s; /* Smooth color transition on hover */
        }

        /* Change link color to orange on hover */
        footer a:hover {
            color: orange;
        }

        /* Add styles for the copyright notice */
        .copyright {
            font-size: 14px;
            margin-top: 10px;
        }

        /* Responsive styles */
        @media screen and (max-width: 600px) {
            footer {
                padding: 10px;
            }
            .copyright {
                font-size: 12px;
            }
        }
    </style>

    <footer>
        <!-- Links to social media profiles and email -->
    <a href="https://www.linkedin.com/in/abhishekprajapati81/" target="_blank">Linkedin</a>
                    <a href="https://github.com/abhishekprajapati81" target="_blank">Github</a>
                        <a href = "mailto:abhishekprajapatii536@gmail.com" target="_blank">Send Email</a>
                        <a href="https://www.instagram.com/pluginabhi/?igshid=NTc4MTIwNjQ2YQ%3D%3D" target="_blank">Instagram</a>

        <!-- Copyright notice -->
        <p class="copyright">Copyright &copy; 2023, All Rights Reserved  Abhishek</p>

    </footer>
